<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页</title>
</head>
<body>
<form action="/auth/login" method="post">
    <input name="username" type="text" placeholder="Username"><br/>
    <input name="password" type="password" placeholder="Password"><br/>
    <input name="code" type="text" placeholder="Code">
    <img src="/code/image" style="margin-bottom: -12px;">
    <br/>
    <input type="checkbox" name="remember-me" value="true">记住我
    <br/>
    <input type="submit" value="Login">
</form>
</body>
</html>